@import '../../styles/function.scss';
.SelectCity{
    :global{
        .am-navbar-light{
            background-color: #eee;
        }
    }
    .city_parent{
        .title_style{
            line-height: 45px;
            padding: 0 vw(15);
            color: #aaa;
        }
        .item_style{
            color: black;
            line-height: 40px;
            border-bottom:1px solid #ddd;
            padding: 0 vw(15);
        }
    }
    
}
.letter_box{
    position: fixed;
    bottom: 3%;
    top: calc(3% + 45px);
    width: 10px;
    right: 10px;
    ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        li{
            flex: 1;
            list-style:none; 
        }
    }
}