@import '../../styles/function.scss';
.SelectCity{
    margin-top: 45px;

    :global{
        .am-navbar-light{
            background-color: #eee;
        }
    }
    .city_parent{
        .title_style{
            line-height: 45px;
            padding: 0 vw(15);
            color: #aaa;
        }
        .item_style{
            color: black;
            line-height: 40px;
            border-bottom:1px solid #ddd;
            padding: 0 vw(15);
        }
    }
    
}
.letter_box{
    position: fixed;
    bottom: 3%;
    top: calc(3% + 45px);
    width: 10px;
    right: 10px;
    ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        li{
            flex: 1;
            list-style:none; 
            color: #555;
            font-size: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            .active_color{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #21b97a;
                border-radius: 50%;
                width: 15px;
                height: 15px;
                color: white;
            }
        }
    }
}
.nav_bar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}