.found{
    height: 100vh;
    background-color: white;
    :global{
        .am-navbar{
            background-color: #f6f5f6;
            padding: 5px 0;
       }
       .am-navbar-left{
          flex: 10% 0;
          color: #9a9a9a;
          padding-left: 10px;;
          
         
       }
       .am-navbar-title{
           flex: 1;
           >div{
               width: 90%;
               font-size: 14px;
               padding: 0;
               height: 30px;
               .icon-map{
                    color: #02af67;
                }
           }
       } 
       .am-navbar-right{
           display: none;
           
       }
    }
    .filter_option{
        display: flex;
        padding: 10px 0;
        border-bottom: 1px solid #ddd;
        >span{
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
            font-size: 16px;
            i{
                margin-left: 3px;
                color: #ccc;
                font-size: 13px;
            }
        }
    }
    .filter_content{
        height: 240px;
        background-color: red;
    }
    .filter_btn{
        display: flex;
        height: 50px;
        >div{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            border-top: 1px solid #ddd;
        }
        >div:nth-child(1) {
            flex: 1;
            background-color: white;
            color: #21b97a;
        }
        >div:nth-child(2) {
            flex: 2;
            background-color: #21b97a;
            color: white;
        }
    }
}