@import '../../../styles/function.scss';

.menu_parent{
    display: flex;
    .menu_item {
        flex: 1;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    img{
        width: vw(50);
        height: vw(50);
    }
}
.group{
    padding: vw(20) vw(20) 0;
    .group_title{
        margin-bottom: vw(10);
        display: flex;
        justify-content: space-between;
    }
    .group_parent{
        display: flex;
        flex-wrap: wrap;
        .group_item{
            padding: vw(12) 0;
            background-color: white;
            width: 48%;
            margin-bottom: vw(10);;
            display: flex;
            &:nth-child(2n + 1) {
                margin-right: vw(10);
            }
            .content{
                width: 70%;
                padding-left: vw(10);
                display: flex;
                flex-direction: column;
                justify-content: center;
                p{
                    color: #aaa;
                    font-size: vw(13);
                    margin-top: vw(5);
                }
            }
        }
    }
    
}
.news{
    background-color: white;
    padding: 0 vw(20);;
    h3{
        padding: vw(10) 0;
    }
    img{
        border-radius: vw(3);
        width: vw(112);
    }
    .news_item{
        display: flex;
        margin: vw(10) vw(3);
        .news_content{
           padding: 0 vw(10);
           display: flex;
           flex-direction: column;
           justify-content: space-between;
        }
        .news_site{
            display: flex;
            justify-content: space-between;
            color: #aaa;
        }
    }
}
