@import '../../../styles//function.scss';
.search_input {
    padding: vw(25) 0 0 vw(20);
    display: flex;
    position: absolute;
    width: 100%;
    z-index: 1;
    .search_left {
        padding: vw(10) 0 vw(10) vw(10);
        color: #666;
        width: vw(60);
        background-color: white;
        display: flex;
        align-items: center;
        border-top-left-radius: vw(3);
        border-bottom-left-radius: vw(3);
    }
  
    .search_ipt {
        background-color: white;
        display: flex;
        align-items: center;
        flex: 1;
        color: #ccc;
        border-top-right-radius: vw(3);
        border-bottom-right-radius: vw(3);
        i{
            margin: 0 vw(10);
        }
    }
  
    .search_right {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 vw(5);
        color: white;
        width: vw(40);
        i{
            font-size: vw(26);
            
        }
    }
  }
